
<mat-dialog-content>
  <h2 mat-dialog-title>Add new movie</h2>
<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form">
    <mat-form-field>
      <mat-label >Title</mat-label>
      <input matInput id="title" formControlName="title" type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label >Description</mat-label>
      <textarea matInput id="description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label >Year</mat-label>
      <input matInput id="year" formControlName="year" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label >Image URL</mat-label>
      <input matInput id="imageUrl" formControlName="imageUrl" type="text" />
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="movieForm.invalid">Submit</button>
    </mat-dialog-actions>
    </div>
  </form>
</mat-dialog-content>
