/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

body.dark-theme{
  color-scheme: dark;
}

html, body { height: 100%; }
body { background-color: var(--mat-sys-background); margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
