@let details = genreWithMovies.detailedGenre;
@let movies = genreWithMovies.movies;

<div class="wrapper">

  <button mat-fab routerLink="/genres" class="arrow-back">
    <mat-icon>arrow_back</mat-icon>
  </button>

  @if (movies) {

      <mat-list>
        <div mat-subheader class="title">
          @if (details){
            <h1>{{details.name}}</h1>
            <h3>{{details.description}}</h3>
          }
        </div>
        @if (movies.movies.length === 0) {
          <h1>Add first movie</h1>
        }
        @else {
          @for (movie of movies.movies; track $index) {
            <mat-list-item>
              <div class="container">
    <!--            <h2> <a [routerLink]="['movies', movie.id]">{{ movie.title }}</a></h2>-->
                <h2>{{ movie.title }}</h2>

                <div class="buttons">
                  <button class="settings-button" (click)="onDeleteMovie(movie.id)" mat-fab aria-label="Delete movie">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <button class="settings-button" (click)="editMovie(movie.id)" mat-fab aria-label="Edit movie">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          }
        }
      </mat-list>
    <div class="add-button">
      <button (click)="onCreateMovie()"  mat-icon-button aria-label="">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  } @else {
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
