.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: var(--mat-sys-secondary-container);
  box-shadow: var(--mat-sys-level2);
}

.logo {
  flex: 0 0 auto; /* Fixed size for logo */
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1; /* Allows the search bar to take up available space */
  margin: 0 400px; /* Adds some spacing on the sides */
}

.theme-toggle {
  flex: 0 0 auto; /* Fixed size for the theme toggle */
}

.search-bar{
  width: 100%; /* Ensures the search bar fills the allocated space */
  height: 60px;
}


.search-bar mat-form-field {
  height: 20px !important;
  width: 100%; /* Ensures the search bar fills the allocated space */
}

.menu{
  margin-right: 30px;
}

.account{
  margin-left: 20px;
}

a {
  text-decoration: none;
}
