<!--<nav>-->
<!--  <a routerLink="/genres">Genres</a>-->
<!--</nav>-->
<mat-toolbar color="primary" class="header-toolbar">
  <!-- Logo -->
  <div class="logo">
    <h1>Movie App</h1>
  </div>

  <div class="center">
    <div class="menu">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Home</button>
        <button mat-menu-item>About</button>
        <button mat-menu-item>Contact</button>
      </mat-menu>
    </div>

    <!-- Search Bar -->
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search...">
        <button mat-icon-button matSuffix class="search-button">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <!-- Menu -->

  <!-- Theme Toggle -->
  <div class="theme-toggle">
    <mat-slide-toggle (change)="toggleTheme()"></mat-slide-toggle>
  </div>
</mat-toolbar>
