<div class="container">
  <h1>Log in</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field>
        <mat-label>Enter your name</mat-label>
        <input
          matInput
          placeholder="user_name"
          formControlName="name"
          (blur)="updateNameError()"
          required
        />
        @if (form.get('name')?.touched && form.get('name')?.invalid) {
          <mat-error>{{nameError()}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" (blur)="updatePasswordError()" required />
        @if (form.get('password')?.touched && form.get('password')?.invalid) {
          <mat-error>{{passwordError()}}</mat-error>
        }
        <button
          mat-icon-button
          matSuffix
          (click)="onHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="submit-button">Log in</button>
  </form>
  <div class="not-registered">
    <span>Don't have an account? </span>
    <a routerLink="/auth/registration">Register</a>
  </div>
</div>

